<header style="margin: 2em 0">
  <h2><a href="/{{repoName}}">{{repoName}}</a></h2>
</header>

{{#if basePath}}
<ol class="breadcrumb">
  {{#each basePath}}
  <li class='active'>
    <a href="{{breadcrumb mode='blob'}}">{{this}}</a>
  </li>
  {{/each}}
</ol>
{{/if}}

<header>
  Bytes: {{fsize}}
</header>
<hr>
<pre>{{fcontent}}</pre>
