<header style="margin: 2em 0">
  <h2><a href="/{{repoName}}">{{repoName}}</a></h2>
</header>

{{#if basePath}}
<ol class="breadcrumb">
  {{#each basePath}}
  <li class='active'>
    <a href="{{breadcrumb}}">{{this}}</a>
  </li>
  {{/each}}
</ol>
{{/if}}

<div class="file-list">
  <table class='table' style="width: 100%">
    <tbody>
      {{#each directories}}
        <tr>
          <td>D</td>
          <td style='width: 100%'>
            <a href="{{tree}}">{{filename}}</a>
          </td>
        </tr>
      {{/each}}

      {{#each files}}
        <tr>
          <td>F</td>
          <td style='width: 100%'>
            <a href="{{blob}}">{{filename}}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#if readme}}
<hr>
<section class="readme">
  {{{readme}}}
</section>
{{/if}}
